header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(250, 251, 252);
  opacity: 0.8;
  box-shadow: 0.1rem 0.5rem 1rem rgb(236, 236, 236);
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.05rem solid rgb(199, 199, 199);
  background-color: rgba(255, 255, 255, 0.685);
  padding: 0.5rem;
}

.octo {
  color: black;
  font-size: 1rem;
  font-weight: 600;
  padding: 2rem 0.85rem 0 0.5rem;
  margin-top: 1rem;
}

.logo {
  position: relative;
  bottom: 0.5rem;
  width: auto;
  height: 2rem;
}

.home {
  padding-left: 0.8rem;
}

.faq {
  color: #3b3b3b;
  padding-left: 0.5rem;
}

.left {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding-top: 1rem;
}

.right {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-top: 1rem;
}

.follow {
  color: black;
  padding-right: 1rem;
}

.git {
  padding: 0;
  display: none;
  color: black;
}

@media (min-width: 800px) {
  .git {
    display: flex;
    padding-right: 0rem;
    padding-top: 0.05rem;
  }
  .right {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-top: 1rem;
  }
  .logo {
    padding-left: 0;
  }
}

@media (min-width: 1360px) {
  footer {
    padding-left: 9.5rem;
    padding-right: 9.5rem;
  }
  .git {
    padding-right: 9rem;
  }
  .logo {
    padding-left: 9rem;
  }
}
